<!DOCTYPE html>
<html lang="en">
<head>
    <!--linker css dokument og alt basic du trenger i ett html dokument-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask application</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <!--forside med alternativene logg inn og liste av registrerte brukere-->
    <header>
        <a class="headerSkrift" href="/login">Logg inn</a>
        <a class="headerSkrift" href="/list">Vis registrerte brukere</a>
        </header>
    <h1>Velkommen til Lillehammer Utvkling </h1><br><br>
        <p>
        Vi er en dynamisk IT-bedrift dedikert til at levere skreddersydde løsninger og førsteklasses tjenester til våre kunder. Med et lidenskapelig team av eksperter og et fokus på innovasjon, er vi klare til å hjelpe deg med å realisere dine IT-mål.
        <br><br>
        Våre tjenester inkluderer:
        <br><br>
        Programvareutvikling: Vår erfarte team av utviklere er klare til å skape skreddersydde, brukervennlige løsninger som oppfyller dine spesifikke behov.
        <br><br>
        Nettsteddesign og -utvikling: Fra enkle nettsteder til komplekse portaler, kan vi designe og utvikle nettstedet ditt fra bunnen av eller forbedre ditt eksisterende nettsted for å maksimere dets potensial.
        <br><br>
        IT-konsulenttjenester: Våre erfarne konsulenter gir rådgivning og veiledning for å optimalisere din IT-infrastruktur, sikkerhet og strategi, slik at bedriften din kan være i forkant av teknologiens utvikling.
        <br><br>
        Cloud-løsninger: Vi tilbyr skalerbare og pålitelige skytjenester som lar deg øke fleksibiliteten, effektiviteten og sikkerheten til din IT-infrastruktur.
        <br><br>
        Hvorfor velge oss?
        <br><br>
        Ekspertise: Vårt team består av erfarne fagfolk med bred kompetanse innen IT-bransjen.
        Skreddersydde løsninger: Vi forstår at hver bedrift er unik, og vi tilpasser våre tjenester for å passe dine spesifikke behov.
        Kundeservice: Vi setter våre kunders behov først og jobber hardt for å sikre deres tilfredshet.
        Innovasjon: Vi holder oss oppdatert med de nyeste teknologiene og metodene for å sikre at våre kunder er rustet for fremtiden.
        Kontakt oss
        <br><br>
        Har du spørsmål eller ønsker å diskutere hvordan vi kan hjelpe din bedrift? Ta gjerne kontakt med oss via telefon, e-post eller fyll ut skjemaet på vårt nettsted. Vi ser frem til å høre fra deg!
        <br><br>
        Adresse: Lillehammerveien 56
        Telefon: 90163084
        E-post: lillehammer@utvikling.no
        <br><br>
        Følg oss også på sosiale medier for å holde deg oppdatert med våre siste nyheter og tilbud.</p>
</body>
</html>