<!DOCTYPE html>
<html lang="en">
<head>
    <!--linker css dokument og alt basic du trenger i ett html dokument-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Dokument</title>
</head>
<body>
    <!--overskrift og tabell for de registrerte brukerne-->
    <h3>Registrerte brukere</h3>
    <table border="1">
        <thead>
            <td>Brukernavn</td>
            <td>Passord</td>
            <td>E-Post</td>
        </thead>

        {% for row in rows %}

        <tr>
            <!--henter data fra databasen-->
            <td>{{row['username']}}</td>
            <td>{{row['password']}}</td>
            <td>{{row['email']}}</td>

        </tr>

        {% endfor %}



    </table>
    <!--knapp hjem-->
    <a href="/">Hjem</a>
</body>
</html>